################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MAACC/bin/Debug
/MAACC/obj/Debug
/MAACC.Android/bin/Debug
/MAACC.Android/obj
/packages
/.vs
